# This file is used to control the files copied by the COPY command in the project's Dockerfile

# IDE / repo
.vscode/
.github/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc

# Misc
.venv
Dockerfile*
*.db
